
:root {
    --orange: rgb(247, 142, 22);  
    --lilac: #4ff7fa;
    --white: #fff;
    --Courier: 'Courier New'
    }

/* "*" UNIVERSAL SELECTOR */
* {
    box-sizing: border-box;
    padding: 25px;
    margin-left: 25px;
    margin-right: 40px;
}

/* BACKGROUND COLOR FOR BODY */
body {
    background-color: var(--orange);
    background-image: linear-gradient(
        rgb(247, 142, 22) 0%,
        rgb(233, 193, 149) 100%
      );
}

/* HEADER WITH 'TREBUCHET MS FONT STYLE AND OTHER BACKUPS, A BACKGROUND AND FONT COLOR, AND PADDING OF 20PX */
.header {
    padding: 20px;
    width: auto;
    font-family: var(--Courier);
    color: #ffffff;
}


/* INLINE ORIENTATION OF HEADER ELEMENTS, ALONG WITH FINT SIZE OF 48PX */
.header h1 {
    display: inline-block;
    position: relative;
    top: 3%;
    right: -10%;
    font-size: 100px;
    padding-top: 25px;
}

.headshot {
    position: absolute;
    border-radius: 50%;
    max-width: 10%;
    max-height: 10%;
}

/* PADDING, MARGIN, ORIENTATION, FONT AND FONT SIZE OF ELEMENTS CONTAINED WITHIN CLASS=HEADER, AND DIV */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--Courier);
    font-size: 60px;
}

/* NO BULLET POINTS TO THE UNORDERED LIST ELEMENTS */
.header div ul {
    list-style-type: none;
}

/* UNORDERED LIST ITEMS DISPLAYED INLINE */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* ANCHOR FONT COLOR WITH NO TEXT DECORATIONS */
a {
    color:var(--white);
}

/* PARAGRAPH FONT SIZE */
p {
    font-size: 60px;
}

/* BACKGROUND IMAGE */
.center-img {
  position: relative;
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

 .content {
    position: absolute;
    bottom: -30%;
    left: 200px;
    background-color: var(--lilac);
    padding: 25px 35px 25px 35px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    max-width: 45%;
    font-size: 100px;
    color: var(--Courier);
    background-image: linear-gradient(
        #4ff7fa 0%,
        rgb(195, 252, 249) 100%
      );
}

/* DISPLAY STYLE, MARGIN AND MAXIMUM ALLOWED WITH SPECIFIED for all images */
.search-engine-optimization img {
    float: left;
    max-height: 200px;
}

/* BOTTOM MARGIN AND TEXT ALIGNMENT SPECIFIED for all headings */
.search-engine-optimization h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    font-size: 60px;
}

/* FOOTER*/
.footer {
    padding: 60px;
    clear: both;
    font-family: var(--Courier);
    text-align: center;
}

.footer h2 {
    font-size: 60px;
}
