:root {
    --orange: rgb(247, 142, 22);  
    --lilac: #4ff7fa;
    --white: #fff;
    --Courier: 'Courier New';
    --font-small: 30px;
    --font-meduim: 45px;
    --font-large: 60px;
    }

/* html page padding & margins */
html {
    padding: 25px;
    margin-left: 25px;
    margin-right: 40px;
}

/* body background transition color, font and font color */
body {
    font-family: var(--Courier);
    color: #fff;
    background-image: linear-gradient(
        rgb(247, 142, 22) 0%,
        rgb(233, 193, 149) 100%
      );
}

/* heading sizes */
h1{
    font-size: var(--font-large);
}

h2 {
    font-size: var(--font-meduim);
}

h3 {
    font-size: var(--font-meduim);
}

/* header font, font color and width */
.header {
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: left;
}

/* first and last name position and size*/
.header h1 {
    margin-left: 50px;
    display: inline-block;
    font-size: 10rem;
}

/*headshot position and boader*/
.header .headshot {
    border-radius: 50%;
    max-width: 5%;
    
}

/* Header options position and orientation and font size*/
.header div {
    padding-top: 130px;
    margin-right: 20px;
    float: right;
    font-size: var(--font-large);
}

/* ul inline black display type */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* ANCHOR FONT COLOR WITH NO TEXT DECORATIONS */
a {
    color:var(--white);
    font-size: 80px;
}

/* main background image */
.center img{
   position:relative;
   width: 60%;
   height: auto;
   margin-left: 20%;
   margin-right: 20%;
}

.center h2{
    font-size: var(--font-large);
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
/* all card content formatting */
 .content {
    padding: 25px 35px 25px 35px;
    margin: 50px;
    background-image: linear-gradient(
        #4ff7fa 0%,
        rgb(195, 252, 249) 100%
      );
}

/* card row settings */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

/* card settings */
.card {
        flex: 1 0 100%;
        max-width: 47%;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-height: 100%;
        padding: 2rem;
        margin: 2rem;
        outline: 2px solid rgb(195, 252, 249);
        outline-offset: -2px;
    
}

/* DISPLAY STYLE, MARGIN AND MAXIMUM ALLOWED WITH SPECIFIED for all images */
.card img {
    background-size: contain;
    max-width: 100%;
    justify-content: center;
}

/* PARAGRAPH FONT SIZE */
.card p {
    font-size: 60px;
    margin-left: 5%;
}

/* BOTTOM MARGIN AND TEXT ALIGNMENT SPECIFIED for all headings */
.card h2 {
    text-align: center;
    font-size: 100px;
}

.card:hover,
.card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--orange), 0 0 15px var(--orange);
}

/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.card .p {
    flex-grow: 1;
  }
  
/* FOOTER*/
.footer {
    padding: 60px;
    clear: both;
    font-family: var(--Courier);
    text-align: center;
}

.footer h2 {
    font-size: var(--font-large);
}